@model IEnumerable<PmTool.UI.Models.OtherProjects>

@{
    ViewBag.Title = "AdminIndex";
}

<h2>AdminIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Other_request_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other_requestor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other_projectType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assigned_pm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Other_request_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other_requestor_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other_projectType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assigned_pm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
