@model IEnumerable<PmTool.UI.Models.OtherProjects>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="table-responsive">
    <p>
        @Html.ActionLink("Create New", "CreateOtherProject")
    </p>
    <table class="table table-bordered table-responsive table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Other_request_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other_requestor_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other_projectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assigned_pm)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Other_request_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Other_requestor_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Other_projectType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Assigned_pm)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditOtherProject", new { id = item.Other_request_id }) |
                    @Html.ActionLink("Details", "DetailsOtherProject", new { id = item.Other_request_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Other_request_id })
                </td>
            </tr>
        }

    </table>
    @{int x = (Int32)Session["UserType"]; }

    @if (x == 3)
    {
        <div>
            @Html.ActionLink("Back", "AdminConsole", "User")
        </div>
    }
    else
    {
        <div>
            @Html.ActionLink("Back", "PmManagerConsole", "User")
        </div>
    }
</div>